.group {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* gap: 20px; */
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.transaction {
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: rgb(231, 221, 254);
  padding: 2rem;
  width: 150vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.transaction .lender {
  font-weight: bold;
  color: blue;
}

.transaction .borrower {
  margin-top: 10px;
  font-weight: bold;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-top: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}
