.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    height: 100px;
    background-color: #54bb97;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-inline: 3rem;
  }

  .header_welcome {
    display: flex;
    flex: 1
  }

  .header_login_link {
    display: flex;
    margin-right: 3rem;
  }

  .header_signup_link {
    display: flex;
  }

.header_link {
    color:white;
    text-decoration: none;

}
