.homeheader {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    background-color: #54bb97;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-inline: 3rem;
  }

  .homeheader_welcome {
    display: flex;
  }


  .homeheader_balance {
    display: flex;
  }
  .homeheader_tempgroup_link {
    display: flex;
  }
  .homeheader_newgroup_link {
    display: flex;
  }

  .homeheader_profile_link {
    display: flex;
  }

.homeheader_link {
    color:white;
    text-decoration: none;

}