.HomeScreen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 221, 254);
  }
  
  .ListScreens {
    flex: 1;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: x-large;
  }
  
  .ToPayScreen {
    flex: 0.9;
    background-color: white;
    flex-direction: column;
    padding: 10px;
    max-height: 100%;
    overflow: scroll;
    margin-left: 16px;
    margin-right: 8px;
    border-radius: 10px;
  }

  .ToBePaidScreen {
    flex: 0.9;
    background-color: white;
    flex-direction: column;
    padding: 10px;
    max-height: max-content;
    overflow: scroll;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
  }
  
  .FriendsGroupsScreen {
    flex: 0.5; /* Adjust the flex value to make it thinner */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-height: max-content;
    overflow: scroll;
    margin-left: 8px;
    margin-right: 16px;
    border-radius: 10px;
  }
  
  .ListContent,
  .FriendsListContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height:max-content;
    width: 94%;
    overflow: hidden;
    margin-inline: auto;
  }

  .payList,
  .friendsList {
    height: calc(100% - 20px);
    width: 100%;
    overflow: hidden;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 0px;
  }
  
  .PayLi,
  .FriendLi {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(206, 255, 236);
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #54bb97;
  }

  .TextGroup {
    height: 90%;
    margin-inline:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .LabelName {
    height: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    outline: none;
    border: none;
    background-color: #54bb97;
    border-radius: 4px;
    font-weight: 600;
  }
  
  .Group_Name,
  .Friend_Name,
  .Amount {
    height: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    outline: none;
    border: none;
  }

  .Friend{
    height: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: large;
  }

  .To_Friend {
    margin-inline: 5%;
  }
  
  .searchfriend {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-left: 0.5rem;
    margin-top: auto; /* Pushes the search bar to the bottom */
  }
  
  input[type="text"],
  input[type="friendsearch"] {
    border: 1px solid rgba(48, 46, 46, 0.2);
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 2px;
  }
  
  input[type="submit"] {
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 5px 10px;
  }
  
  .error {
    color: rgb(255, 130, 130);
    font-size: 12px;
    padding-left: 1rem;
  }
  
  .success {
    color: #6dffce;
    font-size: 12px;
    padding-left: 1rem;
  }
  