.newgroup {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* gap: 20px; */
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #fff;
}

.dropdown-container {
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.dropdown-menu {
  border: 1px solid #ccc;
  padding: 16px;
  background-color: #f9f9f9;
  top: 100px;
  right: 0;
}

.dropdown-menu label {
  display: block;
  margin-bottom: 8px;
}

.dropdown-menu input[type="checkbox"] {
  margin-right: 8px;
}

.selected-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input[type="text"],
input[type="groupname"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.newgroup-form {
  background-color: rgb(255, 255, 255);
  padding-top: 1rem;
  /* width: 0vh; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.entry {
  
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* gap: 20px; */
  height: 50vh;
  /* width: 20vw; */
  
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(231, 221, 254);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.entrylabel {
  display: flex;
  font-size: 20px;
  padding-top: 2rem;
}