.newgroup {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* gap: 20px; */
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #fff;
}

.checkbox-dropdown {
  width: 200px;
  border: 1px solid #aaa;
  padding: 10px;
  position: relative;
  margin: 0 auto;
  user-select: none;
}

/* Display CSS arrow to the right of the dropdown text */
.checkbox-dropdown:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  border: 6px solid transparent;
  border-top-color: #000;
  top: 50%;
  right: 10px;
  margin-top: -3px;
}

/* Reverse the CSS arrow when the dropdown is active */
.checkbox-dropdown.is-active:after {
  border-bottom-color: #000;
  border-top-color: #fff;
  margin-top: -9px;
}

.checkbox-dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%; /* align the dropdown right below the dropdown text */
  border: inherit;
  border-top: none;
  left: -1px; /* align the dropdown to the left */
  right: -1px; /* align the dropdown to the right */
  opacity: 0; /* hide the dropdown */
  transition: opacity 0.4s ease-in-out;
  max-height: 100px; /* Updated max-height value */
  overflow: auto;
  background-color: #fff; /* Set the background color to white */
  pointer-events: none; /* avoid mouse click events inside the dropdown */
}

.is-active .checkbox-dropdown-list {
  opacity: 1; /* display the dropdown */
  pointer-events: auto; /* make sure that the user still can select checkboxes */
}

.checkbox-dropdown-list li label {
  display: block;
  border-bottom: 1px solid silver;
  padding: 10px;
  transition: all 0.2s ease-out;
}

.selected-friends {
  position: absolute;
  top: calc(100% + 100px); /* Display directly below the dropdown menu */
  left: 0;
  background-color: #fff;
  padding: 10px;
}

.selected-friends > div {
  margin-bottom: 5px;
}

input[type="text"],
input[type="groupname"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add margin-top to create space between the form and the button */
}

.newgroup-form {
  margin-top: 10vh;
  background-color: rgb(231, 221, 254);
  padding: 2rem;
  width: 70vh;
  height: 80vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.entry {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* gap: 20px; */
  height: 50vh;
  /* width: 20vw; */

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(231, 221, 254);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
