.welcome {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #a597ec;
  }

  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
  }